<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="text" id="username" placeholder="Nome Utilizador"/>
            <input type="password" id="password" placeholder="Palavra Passe"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span (click)="onClick_login()">Entrar</span>
        </div>
        <div class="col-md-6">
            <span (click)="onClick_regist()">{{regist}}</span>
        </div>
    </div>
</div>
