<div class="row">
  <div class="col-lg-12">
    <nav>
      <ul>
        <li><a routerLink="federacao" translate>nav.federacao</a></li>
        <li><a routerLink="clubes" translate>nav.clubes</a></li>
        <li><a routerLink="exposicoes" translate>nav.exposicoes</a></li>
        <li><a routerLink="gestfop" translate>nav.gestfop</a></li>
        <li><a routerLink="criadores" translate>nav.criadores</a></li>
        <li><a routerLink="ctj" translate>nav.ctj</a></li>
        <li><a routerLink="contactos" translate>nav.contactos</a></li>
      </ul>
    </nav>
  </div>
</div>
