@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600');

$font-stack: 'Montserrat', sans-serif;

$bg-primary-color: #007294;
$bg-secondary-color: #0F8CA9;

$light-green: #DFD99D;
$ligh-orange: #F4AF44;
$light-red: #D45634;
